@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    --font-color: #C0C7F7;
    --background-color: #1B2142;
    --progress-background-color: #11152F;
    --progress-color: linear-gradient(90deg, rgba(73,98,255,1) 0%, rgba(77,217,210,1) 100%);
    --input-color: #4962FF;


    --font-family: 'Mulish', sans-serif;
    --title-font-family: 'Merriweather', serif;

    /*Binary counter to div*/
    --bit-0: 0;
    --bit-1: 0;
    --bit-2: 0;
    --bit-3: 0;
    --div-total: 9;
    --start-color: #FFFFFF;
    --final-color: #000000;
}

* {
    font-family: var(--font-family);
    color: var(--font-color);
}

.card {
    padding: 2rem;
    background-color: var(--background-color);
    border-radius: 10px;
    width: 50%;
    position: relative;
}

.card h1 {
    font-size: 24px;
    font-weight: 900;
    font-family: var(--title-font-family);
    margin-bottom: 20px;
}

.card > p:first-of-type {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}

#bar {
    display: flex;
    margin-bottom: 15px;
}

#bar > div:nth-child(2n) {
    --bit-0: 1;
}

#bar > div:nth-child(4n+3), div:nth-child(4n) {
    --bit-1: 1;
}

#bar > div:nth-child(8n), div:nth-child(8n-1), div:nth-child(8n-2), div:nth-child(8n-3) {
    --bit-2: 1;
}

#bar > div:nth-child(16n), div:nth-child(16n-1), div:nth-child(16n-2), div:nth-child(16n-3), div:nth-child(16n-4), div:nth-child(16n-5), div:nth-child(16n-6), div:nth-child(16n-7) {
    --bit-3: 1;
}

#bar div{
    height: 10px;
    border-radius: 25px;
    width: 100%;
    background-color: var(--progress-background-color);
    margin-right: 5px;
    --byte: calc(var(--bit-0) + 2 * var(--bit-1) + 4 * var(--bit-2) + 8 * var(--bit-3));  
}

#bar div.active {
    --percent: calc(100% - (100% / (var(--div-total) - 1)) * var(--byte));
    background-color: 
    color-mix(
        in srgb, 
        var(--final-color), 
        var(--start-color) 
        var(--percent));
}

.card > p:last-of-type {
    font-size: 14px;
    font-weight: 300;
}

.checklist {
    position: absolute;
    background-color: var(--background-color);
    transform: translateX(300%) translateY(-100%);
    border-radius: 10px;
    padding: 2rem;
}

.checklist h2 {
    margin-bottom: 20px;
    font-family: var(--title-font-family);
    font-size: 18px;
    font-weight: 900;
}

.checklist div {
    margin-bottom: 10px;
}

.checklist input {
    appearance: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    outline: 1px solid var(--font-color);
    vertical-align: top;
}

.checklist input:checked {
    outline: none;
    background-color: var(--input-color);
}

.checklist input:checked::before { 
    font-family: FontAwesome;
    content: "\f00c";
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: #FFFFFF;
    margin-top: 3px;
}

.checklist label {
    vertical-align: top;
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;
}